:root {
  --main-color: #6c49b8;
  --text-color: #566270;
  --sub-color: #e0e3da;
}

@font-face {
  font-family: "AlexBrush";
  src: url("./fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "DXPnM";
  src: url("./fonts/DXPnM-KSCpc-EUC-H.ttf");
}

.logo {
  font-family: AlexBrush;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  color: var(--main-color);
}
