:root {
  --main-color: #6c49b8;
  --text-color: #566270;
  --sub-color: #d9d9d9;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "DXPnM";
  src: url("../fonts/DXPnM-KSCpc-EUC-H.ttf");
}

.BestItem {
  font-family: "DXPnM";
  font-size: 5rem;
  color: var(--main-color);
  padding: 30px 0;
}

.best_item {
  display: flex;
  justify-content: space-between;
  align-content: center;

  font-size: 1.3rem;
  object-fit: fill;
  overflow: hidden;
}

.btn {
  font-size: 8rem;
}

.main_container > div > p {
  padding-top: 30px;
}

.Main_about {
  font-family: "DXPnM";
  font-size: 1.3rem;
  padding: 10px 10px;
  background-color: #6c49b820;
}

.about_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.about_1 > img {
  max-width: 500px;
}

.about_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.about_3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}
