:root {
  --main-color: #6c49b8;
  --text-color: #566270;
  --sub-color: #d9d9d9;
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "AlexBrush";
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: "DXPnM";
  src: url("../fonts/DXPnM-KSCpc-EUC-H.ttf");
}

html,
body {
  height: 100%;
}

.Main_Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;

  font-family: AlexBrush;
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
  text-decoration: none;
  color: var(--main-color);
}

.navbar {
  padding-left: 30px;
  font-size: 2rem;
  list-style: none;
  font-family: DXPnM;
}

.main_content {
  flex: 1;
}

.footer {
  text-align: center;
  background-color: var(--sub-color);
  color: var(--text-color);
  font-family: DXPnM;
  position: relative;
  transform: rotateY(-100%);
  width: 100%;
}

.footer > div > div > h2 {
  font-weight: bolder;
}
